<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yungame.mapper.StudentMapper">

    <select id="getStudnet" resultType="com.yungame.damain.StudentBean">
       select * from student ORDER BY uid
   </select>
    <insert id="insertStudent" parameterType="com.yungame.damain.StudentBean">
        INSERT INTO student (name,classzz) VALUES (#{name},#{classzz})
    </insert>
    <delete id="deleteStudnet">
        DELETE FROM student WHERE uid in
        <foreach collection="uid" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
